; ===========================
; FBUPKEEP configuration file
; ===========================
;
; A configuration file consists of sections, each led by a [section] header, followed by
; key/value entries separated by = or : string. Section names are case sensitive but keys
; are not. Leading and trailing whitespace is removed from keys and values. Values can be
; omitted, in which case the key/value delimiter may also be left out. Values can also
; span multiple lines, as long as they are indented deeper than the first line of the value.
;
; Configuration files may include comments, prefixed by # and ; characters. Comments may
; appear on their own on an otherwise empty line, possibly indented.
;
; Values can contain ${section:option} format strings which refer to other values.
; If the section: part is omitted, interpolation defaults to the current section (and possibly
; the default values from the special DEFAULT section). Interpolation can span multiple levels.
;
; FBUPKEEP uses named jobs. Each job must have it's own [upkeep_<jobname>] section with
; configuration for task executor and used tasks.
;
; Individual tasks may use additional sections with their own conventions.
;
; Logging is configured in separate sections at the end of this file.
; For details see https://docs.python.org/3/howto/logging.html#configuring-logging and
; https://docs.python.org/3/library/logging.config.html#logging-config-fileformat
;

[DEFAULT]

; ==========================
; Section for default values
; ==========================
;
; On execution FBUPKEEP automatically adds next options to the default section:
; job_name = [job_name option value]
; here = [current working directory]
; host = [--host option value, default: localhost]
; user = [--user option value, default: 'ISC_USER' or 'sysdba']
; password = [--password option value, default: 'ISC_PASSWORD' or 'masterkey']
; output_dir = [--output-dir option value, default: ${here}/${job_name}]
; filename = ${job_name}-%Y%m%d
;
; You can freely use these options for interpolation in your configuration.
;
; If you define any from these options in default section, its value would be ignored
; (replaced by command-line option value).

[upkeep_example]

; ===============================
; Configuration for 'example' job
; ===============================

; ---------------------------
; Task executor configuration
; ---------------------------
; tasks
; -----
;
; data type: list
;
; [REQUIRED] Which tasks should be executed for this job.
; Tasks are executed in specified order.
; 
; Installed tasks:
;   gbak = Create logical (gbak) database backup.
;   gbak_restore = Restore database from logical (gbak) backup.
;   gstat = Save gstat statistics to file.
;   idx_rebuild = Rebuild all user indices in database.
;   idx_recompute = Recompute statistics of all database indices.
;   remove_old = Remove old files.
;   sweep = Perform database sweep operation.
;
;tasks = <UNDEFINED>

; stop_on_error
; -------------
;
; data type: bool
;
; [optional] Abort execution on any error (yes) or skip the failing task and continue running (no).
;
;stop_on_error = yes

; use_batch_time
; --------------
;
; data type: bool
;
; [optional] Time used for filename interpolation, batch start time (yes) or task start time (no).
;
;use_batch_time = yes

; ------------------------------
; Options used by multiple tasks
; ------------------------------

; database
; --------
;
; data type: str
;
; [REQUIRED] Database specification (path or alias)
;
; Used by tasks: gbak, gbak_restore, gstat, idx_rebuild, idx_recompute, sweep
;
;database = <UNDEFINED>

; host
; ----
;
; data type: str
;
; [optional] Firebird server host
;
; Used by tasks: gbak, gbak_restore, gstat, idx_rebuild, idx_recompute, sweep
;
;host = <UNDEFINED>

; user
; ----
;
; data type: str
;
; [REQUIRED] User name to access Firebird service manager
;
; Used by tasks: gbak, gbak_restore, gstat, idx_rebuild, idx_recompute, sweep
;
;user = SYSDBA

; password
; --------
;
; data type: str
;
; [REQUIRED] Password to access Firebird service manager
;
; Used by tasks: gbak, gbak_restore, gstat, idx_rebuild, idx_recompute, sweep
;
;password = masterkey

; gbak_dir
; --------
;
; data type: str
;
; [REQUIRED] Directory for backup files
;
; Used by tasks: gbak, gbak_restore
;
;gbak_dir = <UNDEFINED>, proposed value: ${output_dir}/backup

; gbak_filename
; -------------
;
; data type: str
;
; [REQUIRED] Backup filename template (supports strftime directives)
;
; Used by tasks: gbak, gbak_restore
;
;gbak_filename = <UNDEFINED>, proposed value: ${filename}.fbk

; -----------
; Task 'gbak'
; -----------

; gbak_gc
; -------
;
; data type: bool
;
; [optional] Whether backup should perform garbage collection
;
;gbak_gc = yes

; gbak_logname
; ------------
;
; data type: str
;
; [optional] Backup log filename template (supports strftime directives)
; If not specified, backup log is not created.
;
;gbak_logname = <UNDEFINED>

; -------------------
; Task 'gbak_restore'
; -------------------

; gbak_restore_dir
; ----------------
;
; data type: str
;
; [REQUIRED] Directory for restored databases
;
;gbak_restore_dir = <UNDEFINED>, proposed value: ${output_dir}/restore

; gbak_restore_filename
; ---------------------
;
; data type: str
;
; [REQUIRED] Restored database filename template (supports strftime directives)
;
;gbak_restore_filename = <UNDEFINED>, proposed value: ${filename}.fdb

; gbak_restore_logname
; --------------------
;
; data type: str
;
; [optional] Restore log filename template (supports strftime directives)
; If not specified, restore log is not created.
;
;gbak_restore_logname = <UNDEFINED>

; ------------
; Task 'gstat'
; ------------

; gstat_dir
; ---------
;
; data type: str
;
; [REQUIRED] Directory for output files
;
;gstat_dir = <UNDEFINED>, proposed value: ${output_dir}/gstat

; gstat_filename
; --------------
;
; data type: str
;
; [REQUIRED] Base filename template (supports strftime directives)
;
;gstat_filename = <UNDEFINED>, proposed value: ${filename}.gstat

; ------------------
; Task 'idx_rebuild'
; ------------------

; This task has no private options (not shared with other tasks).

; --------------------
; Task 'idx_recompute'
; --------------------

; This task has no private options (not shared with other tasks).

; -----------------
; Task 'remove_old'
; -----------------

; remove_old_from
; ---------------
;
; data type: list
;
; [REQUIRED] Comma separated list of configuration
; section names. Files are removed according to configuration sections.
; Each section must have next options:
;   path: Directory for processing
;   files_expire_after: Number of days to keep files, older files could be removed
; 
; Optional options:
;   pattern: Filename pattern (supports Unix shell-style wildcards), [default: *]
;   recursive: yes/no, [default:no] 
;
;remove_old_from = <UNDEFINED>

; ------------
; Task 'sweep'
; ------------

; This task has no private options (not shared with other tasks).


; =====================
; Logging configuration
; =====================
;
; For details see https://docs.python.org/3/howto/logging.html#configuring-logging and
; https://docs.python.org/3/library/logging.config.html#logging-config-fileformat

[loggers]
keys=root

[handlers]
keys=root_handler

[formatters]
keys=root_formatter

[logger_root]
level=NOTSET
handlers=root_handler

[handler_root_handler]
; This sends logging output to file in current working directory
class=FileHandler
args=('fbupkeep.log', 'a')
;
; This sends logging output to STDERR
;class=StreamHandler
;args=(sys.stderr,)
;
formatter=root_formatter

[formatter_root_formatter]
format=%(asctime)s %(levelname)s: %(message)s
