* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.42857;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100% !important;
  background-color: #f6f6f6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  padding: 0 !important;
}
