/* line 31, ../scss/responsive_email.scss */
body {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.42857;
  background-color: #eee;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/* line 47, ../scss/responsive_email.scss */
table.wrapper {
  width: 100%;
  border: none;
  border-spacing: 0;
  background-color: #eee;
}
/* line 53, ../scss/responsive_email.scss */
table.wrapper th, table.wrapper td {
  padding: 0;
  background-color: #eee;
}
/* line 58, ../scss/responsive_email.scss */
table.wrapper td.preheader {
  color: transparent;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
/* line 67, ../scss/responsive_email.scss */
table.wrapper td.preheader > div {
  color: transparent;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
/* line 78, ../scss/responsive_email.scss */
table.wrapper td.container {
  clear: both;
  width: 100%;
  padding: 20px;
}
/* line 84, ../scss/responsive_email.scss */
table.wrapper div.content {
  clear: both;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
}
/* line 93, ../scss/responsive_email.scss */
table.wrapper div.content > table {
  width: 100%;
  background-color: #ffffff;
}
/* line 97, ../scss/responsive_email.scss */
table.wrapper div.content > table th, table.wrapper div.content > table td {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.42857;
  background-color: #ffffff;
}
/* line 105, ../scss/responsive_email.scss */
table.wrapper div.content > table th {
  color: rgba(0, 0, 0, 0.87);
}
/* line 110, ../scss/responsive_email.scss */
table.wrapper div.content td.header table {
  width: 100%;
  border: none;
  border-spacing: 0;
  background-color: #ffffff;
}
/* line 118, ../scss/responsive_email.scss */
table.wrapper div.content td.signature p, table.wrapper div.content td.footer p {
  float: left;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 50px;
}
/* line 123, ../scss/responsive_email.scss */
table.wrapper div.content td.signature img, table.wrapper div.content td.footer img {
  float: right;
  margin-top: 50px;
}
/* line 130, ../scss/responsive_email.scss */
table.wrapper div.content td.footer p {
  font-size: 12px;
}

/* line 138, ../scss/responsive_email.scss */
.table {
  width: 100%;
  max-width: 100%;
}

/* line 143, ../scss/responsive_email.scss */
table.article-list {
  width: 100%;
}
/* line 146, ../scss/responsive_email.scss */
table.article-list tr td {
  padding: 5px 0;
}
/* line 149, ../scss/responsive_email.scss */
table.article-list tr td.no-padding {
  padding: 0 !important;
}

/* line 155, ../scss/responsive_email.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 159, ../scss/responsive_email.scss */
h1 {
  color: rgba(0, 0, 0, 0.87);
  margin: 10px 0 20px 0;
}

/* line 164, ../scss/responsive_email.scss */
h2 {
  color: rgba(0, 0, 0, 0.87);
  margin: 10px 0;
}

/* line 169, ../scss/responsive_email.scss */
.divider {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

/* line 178, ../scss/responsive_email.scss */
.margin-0 {
  margin: 0 !important;
}

/* line 182, ../scss/responsive_email.scss */
.text-right {
  text-align: right !important;
}

/* line 188, ../scss/responsive_email.scss */
.secondary-text-light {
  color: rgba(0, 0, 0, 0.54) !important;
}

/* line 192, ../scss/responsive_email.scss */
.hint-text-light {
  color: rgba(0, 0, 0, 0.38) !important;
}

/* line 196, ../scss/responsive_email.scss */
.bg-grey {
  background-color: #fafafa !important;
}

/* line 200, ../scss/responsive_email.scss */
.alert, .alert-info, .alert-success, .alert-danger {
  padding: 15px;
  border-radius: 3px;
  color: #ffffff !important;
  margin: 15px 0;
}
/* line 206, ../scss/responsive_email.scss */
.alert a, .alert-info a, .alert-success a, .alert-danger a {
  color: #ffffff;
  font-weight: bold;
}

/* line 212, ../scss/responsive_email.scss */
.alert-info {
  background-color: #31708F;
}

/* line 217, ../scss/responsive_email.scss */
.alert-success {
  background-color: #3C763D;
}

/* line 222, ../scss/responsive_email.scss */
.alert-danger {
  background-color: #A94442;
}

/* line 229, ../scss/responsive_email.scss */
img {
  border: none;
}

/* line 233, ../scss/responsive_email.scss */
.img-responsive {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* line 243, ../scss/responsive_email.scss */
.text-left {
  text-align: left !important;
}

/* line 244, ../scss/responsive_email.scss */
.text-right {
  text-align: right !important;
}

/* line 245, ../scss/responsive_email.scss */
.text-center {
  text-align: center !important;
}

/* line 246, ../scss/responsive_email.scss */
.text-justify {
  text-align: justify !important;
}

/* line 247, ../scss/responsive_email.scss */
.text-nowrap {
  white-space: nowrap !important;
}

/* line 249, ../scss/responsive_email.scss */
.pull-left {
  float: left;
}

/* line 250, ../scss/responsive_email.scss */
.pull-right {
  float: right;
}

/* line 253, ../scss/responsive_email.scss */
.text-lowercase {
  text-transform: lowercase !important;
}

/* line 254, ../scss/responsive_email.scss */
.text-uppercase {
  text-transform: uppercase !important;
}

/* line 255, ../scss/responsive_email.scss */
.text-capitalize {
  text-transform: capitalize !important;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-0 {
  margin-top: 0px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-0 {
  margin-bottom: 0px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-5 {
  margin-top: 5px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-5 {
  margin-bottom: 5px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-10 {
  margin-top: 10px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-10 {
  margin-bottom: 10px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-15 {
  margin-top: 15px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-15 {
  margin-bottom: 15px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-25 {
  margin-top: 25px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-25 {
  margin-bottom: 25px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 262, ../scss/responsive_email.scss */
.m-t-50 {
  margin-top: 50px;
}

/* line 265, ../scss/responsive_email.scss */
.m-b-50 {
  margin-bottom: 50px;
}

/* line 268, ../scss/responsive_email.scss */
.m-v-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 277, ../scss/responsive_email.scss */
.m-l-0 {
  margin-left: 0px;
}

/* line 280, ../scss/responsive_email.scss */
.m-r-0 {
  margin-right: 0px;
}

/* line 277, ../scss/responsive_email.scss */
.m-l-3 {
  margin-left: 3px;
}

/* line 280, ../scss/responsive_email.scss */
.m-r-3 {
  margin-right: 3px;
}

/* line 277, ../scss/responsive_email.scss */
.m-l-5 {
  margin-left: 5px;
}

/* line 280, ../scss/responsive_email.scss */
.m-r-5 {
  margin-right: 5px;
}

/* line 277, ../scss/responsive_email.scss */
.m-l-10 {
  margin-left: 10px;
}

/* line 280, ../scss/responsive_email.scss */
.m-r-10 {
  margin-right: 10px;
}
