#content {
    padding: 0;
    margin: 15px;
}

#header {
    background: #205067;
    color: #fff;

    /* Reset the indents of django-flat-theme
      (need to restore 40px on branding+user-tools instead) */
    padding-left: 0;
    padding-right: 0;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    height: auto;
}

#header #branding h1, #header #branding h1 a {
    color: #fff;
}

#header #user-tools {
    /* Old Django: 1.2em, flat theme: 40px; */
    padding-right: 1.2em;
}

#bookmark-form {
    clear: both;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}

/* forms */

.inline-group .aligned label {
  width: 200px;
}

.aligned label {
  padding: 3px 0 0 0;
  width: 200px;
}

.aligned label + p, .aligned label + div.help, .aligned label + div.readonly {
  padding-left: 0;
  margin-left: 200px;
}

form .aligned p.help {
  padding-left: 0;
}

.vTextField {
  width: 600px;
}

.tabular.inline-related .vTextField {
  width: 400px;
}

.inline-group .tabular tr.has_original td {
  padding: 5px;
}

.inline-group .tabular td.original p {
  display: none;
}

.inline-group .tabular tr td.original {
  padding: 2px 0 0;
  width: 0;
}

.mce-tinymce.mce-container.mce-panel {
  margin-left: 200px;
}

.mce-tinymce.mce-container.mce-panel.mce-fullscreen {
  margin: 0;
}

/* widgets */

.selector {
  width: 800px;
}

.selector select {
  width: 380px;
}

.selector-available, .selector-chosen {
  width: 380px;
}

.selector .selector-available input {
  width: 340px;
}

/* utils */

.text-left {
  text-align: left !important
}

.text-right {
  text-align: right !important
}

.text-center {
  text-align: center !important
}

.text-justify {
  text-align: justify !important
}

.text-nowrap {
  white-space: nowrap !important
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-uppercase {
  text-transform: uppercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.text-muted {
  color: #777 !important
}

.text-primary {
  color: #337ab7 !important
}

.text-success {
  color: #3c763d !important
}

.text-info {
  color: #31708f !important
}

.text-warning {
  color: #8a6d3b !important
}

.text-danger {
  color: #a94442 !important
}